.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: #0f0f1a;
}

.profile-card {
  width: 350px;
  padding: 25px;
  background: #1d1d2f;
  border-radius: 12px;
  color: white;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
  text-align: center;
}

.profile-info {
  margin-top: 15px;
  text-align: left;
}

.profile-info p {
  padding: 8px 0;
  border-bottom: 1px solid #333;
}

.logout-btn {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background: #ff4444;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #e60000;
}

.issued-books-section {
  margin-top: 40px;
  padding: 20px;
  background: #0d1021;
  border-radius: 10px;
}

.issued-books-section h2 {
  color: white;
}

.issued-book-table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

.issued-book-table th,
.issued-book-table td {
  padding: 10px;
  border-bottom: 1px solid #333;
  color: white;
}

.issued-book-table th {
  color: #ff6363;
  font-weight: bold;
}
