/* If you use tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override dark background */
body {
  margin: 0;
  background-color: #f5f6fa !important;
  color: #111 !important;
}
